################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Arduino/.vs/MiniRBoard/v15/*
/Arduino/MiniRBoard/Debug/*
/Arduino/MiniRBoard/__vm/*
/Arduino/.vs/Nano/v15/*
/Arduino/Nano/Debug/*
/Arduino/Nano/__vm/*
/lib/*
/obj/*
*.o
*.d
/MiniRBoard/.piolibdeps/*
